/*@import url('https://fonts.googleapis.com/css?family=Italianno');*/

@import url('https://fonts.googleapis.com/css?family=Tangerine');

.App {
  text-align: center;
}


.quote {
  font: 50pt 'Tangerine', cursive;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
